<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    {% load rest_framework %}
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'css/style3.css' %}" rel="stylesheet" type="text/css">
    <title>New Trip</title>
</head>
<body>
    <a href="/trip/">
        <table id="header" align="center">
            <tr>
                <td><img src="{% static 'img/plane.gif' %}" width="300" class="plane" /></td>
                <td align="right"><img src="{% static 'img/logo.gif' %}" width="300" /></td>
            </tr>
        </table>
    </a>
    <table id="nav" align="left" style="padding-left:20px">
        <tr>
            <td><h3>Hello, {{username}}</h3></td>
        </tr>
        <tr>
            <td><a href="/trips/"><p>Your trips</p></a></td>
        </tr>
        <tr>
            <td><a href="/trip/"><p>New trip</p></a></td>
        </tr>
        <tr>
            <td><a href="/office/"><p>New Office</p></a></td>
        </tr>
        <tr>
            <td><a href="https://calendar.google.com"><p>Your Google Calendar</p></a></td>
        </tr>
        <tr>
            <td><a href="/logout/"><p>Log out</p></a></td>
        </tr>
    </table>
    <table id="content" align="center">
        <tr>
            <th>
                <h1>New Trip</h1>
            </th>
        </tr>
        <tr>
            <th>
                <form method="POST" action="{% url 'new-trip' %}">
                    {% csrf_token %}
                    {% render_form serializer %}
                    <button type="submit" class="btn btn-default" style="margin-left:75px">Save</button>
                </form>
            </th>
        </tr>
    </table>
        <hr />
        <table id="footer">
            <tr>
                <td>
                    <p>Designed by Plotnikova Veronika & Khalepskiy Igor</p>
                </td>
            </tr>
        </table>
</body>
</html>
